html, body {
  height: 100%;
}

.head {
  position: relative;
  z-index: 1;
}

.box {
  background: rgba(255, 255, 255, .03);
  border: solid 1px rgba(255, 255, 255, .1);
  border-radius: 20px;
  box-shadow: 1px 1px 8px 1px rgb(0 0 0 / 10%);
  display: block;
  padding: 30px;
  position: relative;
}

.section {
  padding-left: 20px;
  padding-right: 20px;
}

.section .container {
  margin: auto;
  max-width: 900px;
}

.section h2 {
  color: #FFFFFF;
  font-size: 24px;
  margin: 0 0 20px;
  text-transform: uppercase;
}

.section h3 {
  color: rgb(251, 191, 36);
  font-size: 16px;
  margin: 0;
  text-transform: uppercase;
}

.section .btn-primary {
  font-weight: bold;
  margin-top: 20px;
  padding: 20px 40px;
  text-transform: uppercase;
}

.section .btn-outline-primary {
  color: #FFFFFF;
  font-weight: normal;
  padding: 10px 40px;
  text-transform: uppercase;
}

.section-1 {
  background-image: url(/images/bg-space.png);
  background-position: center bottom;
  background-size: cover;
  height: 100%;
  margin-top: -90px;
  overflow-x: hidden;
  padding-top: 90px;
  position: relative;
}

.section-1 canvas {
  position: absolute;
  top: 0;
}

.section-1 .container {
  display: flex;
  padding: 100px 20px;
  position: relative;
  z-index: 2;
}

.section-1 .left {
  flex-grow: 1;
  padding: 80px 40px 0 0;
}

.section-1 h1 {
  color: rgb(251, 191, 36);
  font-size: 16px;
  margin: 0;
}

.section-1 h2 {
  color: #FFFFFF;
  font-size: 30px;
  margin: 0 0 20px;
  text-transform: none;
  white-space: nowrap;
}

.section-1 h2 .typewrite {
  display: block;
  min-height: 42px;
}

.section-1 .chains {
  white-space: nowrap;
}

.section-1 .chains .chain {
  background-image: url(/images/sprite-chains.png);
  background-repeat: no-repeat;
  background-size: 120px 120px;
  display: inline-block;
  height: 40px;
  margin: 0 5px;
  width: 40px;
}

.section-1 .chains .chain-1 {
  background-position: 0 0;
}

.section-1 .chains .chain-2 {
  background-position: -40px 0;
}

.section-1 .chains .chain-3 {
  background-position: -80px 0;
}

.section-1 .chains .chain-4 {
  background-position: 0 -40px;
}

.section-1 .chains .chain-5 {
  background-position: -40px -40px;
}

.section-1 .chains .chain-6 {
  background-position: -80px -40px;
}

.section-1 .chains .chain-7 {
  background-position: 0 -80px;
}

.section-1 .chains .chain-8 {
  background-position: -40px -80px;
}

.section-1 .chains .chain-9 {
  background-position: -80px -80px;
}

.section-1 .right {
  max-width: 450px;
  overflow: hidden;
}

.section-1 .right .frame {
  overflow: hidden;
  white-space: nowrap;
}

.section-1 .right img {
  width: 100%;
}

.section-1 .right img.active {
  right: 0
}

.section-2 {
  background-image: url(/images/bg-gns-1.jpg);
  background-position: bottom;
  background-size: cover;
}

.section-2 .container {
  display: flex;
  padding: 80px 0 200px;
}

.section-2 .left {
  padding: 20px 40px 0 0;
  width: calc(50% - 40px);
}

.section-2 p {
  padding-top: 0;
}

.section-2 .right {
  width: 50%;;
}

.section-2 .right img {
  width: 100%;
}

.section-3 {
  background-color: #000000;
  padding: 40px 20px;
}

.section-3 ul {
  padding-bottom: 20px;
  padding-top: 20px;
}

.section-3 li {
  color: rgb(251, 191, 36);
  font-size: 15px;
  line-height: 32px;
}

.section-3 .container {
  display: flex;
  padding-top: 40px;
}

.section-3 .left {
  width: 50%;;
}

.section-3 .right {
  padding-top: 150px;
  width: 50%;;
}

.section-4 {
  background-image: url(/images/bg-gns-2.jpg);
  background-size: cover;
}

.section-4 .container {
  padding-bottom: 200px;
  padding-top: 200px;
}

.section-4 .logo {
  float: left;
  margin-right: 5px;
}

.section-4 h2 {
  align-items: center;
  color: #FFFFFF;
  display: flex;
  font-size: 18px;
  justify-content: center;
  margin-bottom: 30px;
  text-transform: none;
}

.section-4 h2 .label {
  color: rgb(251, 191, 36);
  display: inline-block;
  font-family: "Press Start 2P", sans-serif;
  font-size: 15px;
  margin: 2px 5px 0 0;
}

.section-4 h3 {
  color: #FFFFFF;
  font-size: 30px;
  font-weight: normal;
  padding: 0 0 10px 0;
  text-align: center;
  text-transform: none;
}

.section-4 form {
  align-items: center;
  background-color: #FFFFFF;
  display: flex;
  margin: auto;
}

.section-4 form > * {
  padding-bottom: 10px;
  padding-top: 10px;
}

.section-4 form img {
  padding-left: 20px;
}

.section-4 form label {
  border-right: 1px solid #666666;
  color: #333333;
  font-weight: bold;
  display: block;
  margin-right: 20px;
  padding-right: 20px;
}

.section-4 form input {
  border: 0;
  border-radius: 0;
  flex-grow: 1;
  height: 55px;
  padding: 0;
}

.section-4 form input:focus {
  outline: none;
}

.section-4 form .domain {
  color: #333333;
  font-size: 13px;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
}

.section-4 form button {
  background-color: transparent;
  border: 0;
  border-left: 1px solid #666666;
  border-radius: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.section-5 {
  background-color: #111619;
  background-image: url(/images/gcoin.png);
  background-position: calc(100% + 100px) -100px;
  background-repeat: no-repeat;
  background-size: 700px;
}

.section-5 h2 {
  margin-bottom: 0;
}

.section-5 p {
  padding: 0;
}

.section-5 ul {
  padding-bottom: 20px;
}

.section-5 li {
  color: #FFFFFF;
  font-size: 15px;
  line-height: 32px;
}

.section-5 .container {
  display: flex;
  padding-bottom: 200px;
  padding-top: 100px;
}

@media(max-width: 980px) {
  .section-1 .container {
    display: block;
    padding-top: 0;
  }

  .section-1 .left {
    padding-right: 0;
    text-align: center;
  }

  .section-1 .right {
    margin: 40px auto 0;
  }

  .section-1 h2 {
    white-space: normal;
  }

  .section-1 .chains {
    white-space: normal;
  }
}

@media(max-width: 767px) {
  .section-1 {
    margin-top: -150px;
    padding-top: 150px;
  }

  .section-2 {
    position: relative;
  }

  .section-2 .container {
    display: block;
  }

  .section-2 .left {
    margin-top: 80%;
    padding-right: 0;
    text-align: center;
    width: auto;
  }

  .section-2 .right {
    position: absolute;
    text-align: center;
    top: 80px;
    width: auto;
  }

  .section-2 .right img {
    width: 80%;
  }

  .section-3 .container {
    display: block;
  }

  .section-3 .left {
    text-align: center;
    width: auto;
  }

  .section-3 .right {
    padding-top: 40px;
    text-align: center;
    width: auto;
  }

  .section-3 ul {
    list-style: none;
    padding: 0;
  }
}

